.wrapper {
  max-width: 46rem; /*Distance found on figma*/
  justify-content: center;
  margin: auto; /* Made the content to be centrilize in the middle of the page*/
  padding: 1rem; /*content not be in the edge of the screen if the size change*/

  grid-template-columns: 1fr; /*variable - 1 column only in teh grid*/
}

@media (max-widht: 736px) {
  /*resonsividade*/
  html {
    font-size: 87.5%;
  }
}
